@page "/"

<h1>Welcome to Blazor WASM!</h1>

@using BlazorDynamic.DynamicComponents;

<div style="width:30%">
    <SfDropDownList TValue="DropdownOptions" TItem="DropdownOptions" DataSource="@SelectOptions" @bind-Value="@SelectedValue">
        <DropDownListFieldSettings Text="CName" Value="CType"></DropDownListFieldSettings>
    </SfDropDownList>
</div>
<br />
<br />

<DynamicComponent Type="@(Type.GetType(SelectedValue.CType))" Parameters="@SelectedValue.Params"></DynamicComponent>

@code {
    public class DropdownOptions
    {
        public string? CName { get; set; }
        public string? CType { get; set; }
        public Dictionary<string, object>? Params { get; set; }
    }

    private List<DropdownOptions>? SelectOptions { get; set; }
    private DropdownOptions? SelectedValue { get; set; }
    private List<Salesperson> Employees { get; set; }
    private List<MeetingSchedule> ScheduleData { get; set; }

    protected override void OnInitialized()
    {
        Employees = Salesperson.GetSalesperson();
        ScheduleData = MeetingSchedule.GetMeetingData();
        this.SelectOptions = new()
        {
            new DropdownOptions() { CName = "Meeting Schedule", CType = typeof(MeetingSchedules).AssemblyQualifiedName, Params = new Dictionary<string, object>() { { "ScheduleData", ScheduleData} } },
            new DropdownOptions() { CName = "Employee Details", CType = typeof(SalesPersonDetails).AssemblyQualifiedName, Params = new Dictionary<string, object>() { { "Employees", Employees } } }
        };
        this.SelectedValue = SelectOptions[0];
        base.OnInitialized();
    }
}
